/*RESET CSS BEGIN*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    /* this is going to be the main font for the website because it is on the body */
    font-family: 'Montserrat', sans-serif;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
/*RESET CSS END*/

/* HELPER CLASS BEGINS */

/* the code below will ensure the image will take the space of the parent and make the site mobile responsive. */
img {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}

/*HELPER CLASS END*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

.wrapper{
  max-width: 1100px;
  width:100%;
  margin: 0 auto;
}

/* NAVIGATION BAR + HEADER STYLE START */

header {
  background: transparent;
  width: 100%;
  position: relative;
}

/* this sets up the tab behind the menu bar and makes it smaller. and hides the new menu bar to the top and makes it stick*/
header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* this makes the menu transparent */
  background: rgba(0, 0, 0, 0.65);
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* this makes the menu come to the front of the elements */
  z-index: 5;
}


body.scroll header.sticky {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}




.nav-wrapper {
  max-width: 1200px;
  margin: auto;
  position: relative;
  padding: 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* this provides the space between both items inside the nav bar */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.nav-wrapper ul li {
  display: inline-block;
  /* 0 is on top and bottom and 10 is left and right */
  padding: 0 10px;
  margin-bottom: 0;
}

nav.nav-wrapper ul li a {
  font-size: 17px;
  /* always set the line height 5 px more than the text size */
  line-height: 22px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  /* this gives space between the line appearing below and the tab */
  padding-bottom: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;

}
/* this makes the line appear on the menu tabs when you hover over them */
nav.nav-wrapper ul li a:hover {

  border-bottom: 1px solid #ffffff;
}

/* RESIZING THE LOGO */
header .logo img {
  max-width: 100px;
}


/* PARALAX PAGE STYLES START */

.cover-main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/hero-bg.jpg') right bottom;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero-bg.jpg') right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

ul#scene li.name {
  text-align: center;
  font-size: 40px;
  line-height: 45px;
  text-transform: uppercase;
  color: white;
  width: 100%;
}

ul#scene li.title {
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  color: white;
  width: 100%;
  margin-top: 60px;
}

ul#scene {
  margin-top: 100px;
}
.btn {
  width: 100%;
  text-align: center;
  margin-top: 150px;

}
.portfolio-btn,
.contact-btn {
  margin: 0 auto;
  /* because bottons by default are inline, we will set them to display inline-block */
  display: inline-block;
  /* padding is always done - top and bottom - left and right */
  padding: 10px 20px;
  border: 1px solid white;
  backgroud: transparent;
  color: white;
  text-decoration: none;

}

.portfolio-btn:hover,
.contact-btn:hover{
  background:white;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* below we will add space to the buttons so that they are not too close to eachother. */

.portfolio-btn {
  margin-right: 30px;
}

.contact-btn {
  margin-left: 30px;
}
/* PARALLAX PAGE STYLES END */


/* MASONRY JS STYLES START */
.masonry-grid {
  position: relative;
}

.masonry-grid1 {
  position: relative;
}

.masonry-grid2 {
  position: relative;
}

  /* this will center the grade on the window */
.grid {
  margin: 0 auto;
}

.grid1 {
  margin: 0 auto;
}

.grid2 {
  margin: 0 auto;
}
/* the grid below is how wide all the images will be from left to right. */
.grid-item {
  width: 450px;
  /* this adds spaces vertically to the images */
  margin-bottom: 20px;


}

.grid-item1 {
  width: 450px;
  /* this adds spaces vertically to the images */
  margin-bottom: 20px;


}

.grid-item2 {
  width: 450px;
  /* this adds spaces vertically to the images */
  margin-bottom: 20px;


}

.tall-img {
  height: 680px;
}

h2.sub-title {
  display: block;
  /* margin: 70px auto; */
  text-align: center;
  font-size: 35px;
  line-height: 40px;
  margin-top: 90px;
  margin-bottom: 10px;
}

p.sub-title1{
  position: relative;
  display: block;
  margin: 70px auto;
  text-align: center;
  font-size: 15px;
  line-height: 35px;
  margin-top: 5px;

}
/* THE SMALL LINE ABOVE THE GALLERY */
h2.sub-title::after {
  display: block;
  height: 2px;
  background-color: #000000;
  content: "";
  width: 100px;
  /* THIS IS 30 TOP AUTO RIGHT 0 BOTTOM AND AUTO LEFT SO IT GOES CLOCKWISE */
  margin: 10px auto 0 auto;

}
/* MASONRY JS STYLES ENDS */


/* We love art animation heart */

section.beating-heart {
  /* this are the setting for the bottom (image setup )norepat (image placement) right bottom and (background size)cover  */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('../images/hero-bg.jpg') no-repeat right bottom / cover;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero-bg.jpg') no-repeat right bottom / cover;
  text-align: center;
  height: 100vh;
  padding: 50px 10px;
  color: white;
  /* this will center all the items no matter how big the screen is. */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}
section.beating-heart span {
  font-size: 85px;
  line-height: 90px;
}
section.beating-heart h2 {
  margin-bottom: 30px;
}
section.beating-heart h2::after {
  background: white;

}

.heart {
  position: relative;
  fill: red;
  width: 100px;
  margin: 0 30px;
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {

      0% {
          -webkit-transform: scale(1);
                  transform: scale(1);

  }

      15% {

            -webkit-transform: scale(1.25);

                    transform: scale(1.25);

      }


      25% {

          -webkit-transform: scale(1.15);

                  transform: scale(1.15);


  }

      35% {

            -webkit-transform: scale(1.25);

                    transform: scale(1.25);

      }

      100% {

          -webkit-transform: scale(1);

                  transform: scale(1)

  }

}

@keyframes pulse {

      0% {
          -webkit-transform: scale(1);
                  transform: scale(1);

  }

      15% {

            -webkit-transform: scale(1.25);

                    transform: scale(1.25);

      }


      25% {

          -webkit-transform: scale(1.15);

                  transform: scale(1.15);


  }

      35% {

            -webkit-transform: scale(1.25);

                    transform: scale(1.25);

      }

      100% {

          -webkit-transform: scale(1);

                  transform: scale(1)

  }

}
/* I love Photography animation ends */

/* slider start  */
.slider-div h2{

  margin-bottom: 0;
}

.slider {

  /* this margin sets pixels to the bottom and top and left and right */
  margin: 20px;

  text-align: center;
  /* padding is added to all the sides below */
  padding: 20px;
  color: white;
}

/* this is where we set up the images to be of the same size */
.slide {
  max-height: 350px;
  padding: 15px;
}
/* setting up the arrows */
.slick-prev,
.slick-next {
  background: black;
  width: 40px;
  z-index: 1;
}

/* movign the arrows to be within the slide */
.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-prev:hover,
.slick-next:hover {
  background: black;
}
/* slider ends */

/* footer starts  */

footer {
  position: relative;
  /* zindex brings the item to the back of the items shown */
  z-index: -2;
  height: 150px;
  background: black;
  color: white;
  font-size: 12px;
  text-align: center;
}

footer h1 {
  position: fixed;
  font-size: 20px;
  line-height: 25px;
  color: white;
  font-weight: bold;
  text-align: center;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 800px;
  z-index: 1;
}
/* footer ends  */


/* RESPONSIVE MENU START */
@media only screen and (max-width: 1160px) {
  section.beating-heart span {
    font-size: 30px;
    line-height: 35px;
  }

  .heart {
    width: 50px;
    margin: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .menu-trigger {
    background: url('../images/hamburger-icon.svg') no-repeat center /cover;
    width: 35px;
    height: 35px;
    display: block;
    z-index: 10;
    position: absolute;
    right: 20px;
    top: 15px;

  }

  .main-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.72);
    z-index: 6;
    display: none;
  }
  .main-overlay::after {
    background: url('../images/close-icon.svg') no-repeat center / cover;
    width: 35px;
    height: 35px;
    display: block;
    content: "";
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 20;
  }

  .menu {
    position: fixed;

  /* 0 makes the item starts from the very top and the very bottom and all the way to the sides. */
    top: 0;
    bottom: 0;
    /* when the right is missing the menu will stick to the left */
    left: 0;
    background: #131313;
    /* width 100% makes it responsive on mobile */
    width: 100%;
    max-width: 300px;
    z-index: 30;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  nav.nav-wrapper ul li {
    display: block;
    margin-top: 20px;
    padding: 0;
    padding-bottom: 20px;
  }

  nav.nav-wrapper ul li a {
    font-size: 18px;
    line-height: 23px;
  }

  nav.nav-wrapper ul li a:hover {
    border-color: transparent;
  }

  body.menu-is-active .menu {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    display: block;
    padding: 0 15px;
  }

  body.menu-is-active .main-overlay {
    display: block;
  }
/* this will remove the hamburger menu when the meny appears */
  body.menu-is-active .menu-trigger {
    display: none;
  }
}

@media only screen and (max-width: 560px){

  ul#scene li.name {
    font-size: 20px;
    line-height: 25px;
  }

  ul#scene li.title {
    font-size: 20px;
    line-height: 25px;
    margin-top: 40px;
  }
/* this makes the images take the entire space of the screen (left and right) */
  div.grid {
    width: initial !important;
  }

  .btn {
    margin-top: 80px;
  }

  ul#scene {
    margin-top: 50px;
  }

  .portfolio-btn,
  .contact-btn {
    display: block;
    margin: 20px auto;
    max-width: 120px;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0;
  }

  h2.sub-title {
    margin: 30px auto;
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  section.beating-heart {
    height: initial;
  }

  footer{
    height: 100px;

  }

  footer h1 {
    font-size: 15px;
    line-height: 20px;
    bottom: 40px;
  }

  .grid-item {
    width: initial;
  }

  .grid-item1 {
    width: initial;
  }

  .grid-item2 {
    width: initial;
  }

  .tall-img {
    heigh: initial;
  }

  .menu {
    max-width: 200px;
  }
}

.container1 .content1 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding-left: 25px;
}
